@model SKP.Net.Web.Areas.Admin.Models.PageData.PageDataModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PageDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageHead" class="control-label"></label>
                <input asp-for="PageHead" class="form-control" />
                <span asp-validation-for="PageHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageBody" class="control-label"></label>
                <input asp-for="PageBody" class="form-control" />
                <span asp-validation-for="PageBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedirectUrl" class="control-label"></label>
                <input asp-for="RedirectUrl" class="form-control" />
                <span asp-validation-for="RedirectUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" type="file" name="file" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <input class="form-control" asp-for="DisplayOrder" /> @Html.DisplayNameFor(model => model.DisplayOrder)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            @foreach (var value in Model.PageType.GetType().GetEnumValues())
            {
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" asp-for="PageType" onclick="loadMeasure('@value');" value="@value" class="form-check-input" />@value
                    </label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

