
<section id="about" class="container">
    <img src="https://skpatelstorage.blob.core.windows.net/skpatel/fdd3b05d-ede3-46fb-809d-3650a56b9c90.png?sv=2020-04-08&se=2031-09-17T15%3A40%3A56Z&sr=b&sp=rw&sig=LKg%2BXEYPTQDYoipmhW1nFryDFT%2FwsZZVJtw9lwj4kOQ%3D">
    <h1 class="display-4">Sachin Patel</h1>
    <p>
        I’m a full-stack web developer with over 8+ years of experience. Software development is a fulfilling and rewarding job for me. I love to execute big ideas, and I want to use my talents to solve problems and make life easier for people. I jump at the chance to learn new things. I take great pride in my work and the fact that I create things that others find useful.
    </p>
    <p>
        <strong>Skills:</strong>
        <span class="badge badge-info">.Net Core</span>
        <span class="badge badge-info">Azure Development</span>
        <span class="badge badge-info">Microservice Architecture : AZURE</span>
        <span class="badge badge-info">Entity Framework</span>
        <span class="badge badge-info">C#</span>
        <span class="badge badge-info">CI/CD : AZURE</span>
        <span class="badge badge-info">SQL</span>
        <span class="badge badge-info">ML.NET</span>
        <span class="badge badge-info">NO SQL</span>
    </p>
</section>

<section id="experience" class="container">
    <h1>Experience</h1>
    <div class="card">
        <div class="card-header collapse show" data-toggle="collapse" data-target="#exp1">
            <div class="row">
                <h5 class="col-md-8 mb-0">Sr. Software Engineer.</h5>
                <em class="col-md-4 text-md-right">June 2021 - Current</em>
            </div>
        </div>
        <div class="card-block collapse p-4" id="exp1">
            <h5>Confidential : Financial Service Provider Company</h5>
            <p>
                Leveraged agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
            </p>
        </div>
    </div>
</section>

<section class="container" id="contact">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-sm-2">Phone:</div>
        <div class="col-sm-4">NA</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Email:</div>
        <div class="col-sm-4"><a href="mailto:sachin@skpatel.net">sachin@skpatel.net</a></div>
    </div>
    <div class="row">
        <div class="col-sm-2">LinkedIn:</div>
        <div class="col-sm-4"><a href="https://www.linkedin.com/in/sachin2009/">https://www.linkedin.com/in/sachin2009/</a></div>
    </div>
</section>
<style>
    #about {
        text-align: center;
        padding: 40px;
    }

        #about img {
            width: 200px;
            border-radius: 100%;
        }

        #about h1 {
            margin: 25px;
        }

    section {
        padding-bottom: 40px;
    }

    .card .card-header {
        cursor: pointer;
    }
</style>